html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background-color: #dff0f5;
  font-family: "Open Sans", "Helvetica", sans-serif;
  height: 100%;
  overflow: auto;
  width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }

h1, h2, h3, h4 {
  font-family: "Arvo", "Helvetica", sans-serif;
  margin: 0 10px 0 10px;
  display: inline-block; }

.large {
  font-size: 2em;
  text-align: center; }

header, footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(133, 196, 218, 0.7);
  height: 100px;
  overflow: visible;
  color: #F8F8F8;
  width: 100%; }

header {
  margin: 0 0 100px 0; }

footer {
  background: rgba(255, 255, 255, 0.7); }

ul {
  margin: 0;
  padding: 0;
  list-style: none outside none; }

a {
  color: rgba(133, 218, 155, 0.7);
  text-decoration: none;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s; }
  a:visited {
    color: rgba(133, 218, 155, 0.7); }
  a:hover {
    color: rgba(218, 133, 196, 0.7);
    text-decoration: none; }

p {
  margin: 0; }
  p.title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.25em; }

/* container and content styling */
#canvas-background {
  position: fixed;
  top: 0;
  z-index: -1; }

.clearfix {
  display: block; }

.rotate {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg); }

.container {
  margin: 0 auto 0 auto;
  max-width: 940px;
  position: relative;
  margin-bottom: 10px; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  line-height: 0;
  content: " ";
  clear: both;
  height: 0;
  width: 0; }

.box {
  display: table;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #FFFFFF;
  margin: 0 auto 50px auto;
  overflow: hidden; }
  .box.inverse {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    padding: 0;
    width: 100%; }

.shadow {
  -webkit-box-shadow: 0px 0px 5px #cccccc;
  -moz-box-shadow: 0px 0px 5px #cccccc;
  -ms-box-shadow: 0px 0px 5px #cccccc;
  box-shadow: 0px 0px 5px #cccccc; }

.icon {
  display: inline-block;
  background-color: transparent;
  margin: 20px 25px 25px 25px; }
  .icon img {
    width: 60px; }

/* about me section */
.vimeo_logo {
  height: 100px;
  position: relative;
  top: 30px; }

.butter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

.theatre {
  margin-top: 30px;
  position: relative;
  padding-bottom: 53%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.player {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.more-butter {
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
  display: table;
  cursor: pointer;
  font-family: "Arvo", "Helvetica", sans-serif;
  background-color: rgba(133, 218, 155, 0.3);
  border: 1px solid #c1eccc;
  margin: 20px auto 0 auto;
  padding: 10px; }
  .more-butter:hover {
    background-color: rgba(133, 218, 155, 0.5); }

.color .large {
  width: 240px;
  margin-bottom: 30px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -120px; }

.color-wrapper {
  position: relative; }

.preview {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 600px;
  width: 100%;
  border-top: 100px solid rgba(255, 255, 255, 0.7);
  border-left: 20px solid rgba(255, 255, 255, 0.7);
  border-right: 20px solid rgba(255, 255, 255, 0.7);
  border-bottom: 150px solid rgba(255, 255, 255, 0.7); }

.selector {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  width: 15px;
  border: 5px solid rgba(255, 255, 255, 0.7);
  position: relative;
  top: -55px; }

.color-selector, .shade-selector {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto 15px auto;
  border: 2px solid #FFFFFF;
  height: 50px;
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px; }

.color-selector {
  top: 470px; }
  .color-selector .selector {
    left: 56%; }

.shade-selector {
  top: 530px; }
  .shade-selector .selector {
    left: 33%; }

/* work */
/* navigation */
.header-content, .footer-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 940px;
  height: 100%;
  margin: 0 auto 0 auto; }

.footer-content {
  display: table; }

.logo {
  display: inline-block;
  background-color: #f8f8f8;
  margin-top: 5px;
  height: 160px;
  width: 160px;
  border: 8px solid #f8f8f8;
  border-radius: 50%; }

#logo-static {
  border-radius: 50%; }

.nav-transition li {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }

.nav {
  display: inline-block;
  float: right;
  list-style-type: none;
  text-align: center;
  height: 100%; }
  .nav li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 40px;
    text-align: center;
    display: inline-block;
    list-style: none;
    font-weight: bold;
    width: 100px;
    height: 100%;
    background: rgba(133, 218, 155, 0.7); }
    .nav li:last-child {
      margin-left: -4px; }
    .nav li a, .nav li a:hover, .nav li a:visited {
      display: inline-block;
      color: #f8f8f8;
      margin: 0;
      height: 100%;
      width: 100%; }
    .nav li:hover, .nav li.active {
      color: #f8f8f8;
      cursor: pointer;
      background: rgba(218, 133, 196, 0.7); }

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 500px), (max-width: 500px) {
  header, footer {
    height: 60px;
    z-index: 1; }

  header {
    position: fixed;
    top: 0; }

  .container {
    margin-top: 85px; }

  .box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%; }

  .large {
    font-size: 1.5em; }

  #work {
    font-size: 1em; }

  .nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    float: right; }
    .nav li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      margin: 0;
      width: 45%;
      padding-top: 20px; }

  .logo {
    display: none; }

  .preview {
    min-height: 400px;
    border-top: 60px solid rgba(255, 255, 255, 0.7); }

  .color .large {
    top: 10px; }

  .color-selector {
    top: 272px; }

  .shade-selector {
    top: 332px; }

  .icon {
    display: inline-block;
    margin: 10px; }
    .icon img {
      width: 40px; } }
