/* general styling */

/*
colors to try: ;

Dark Blue: core - #425d77, lighter - #507091, darker - #263545;
Dark Purple: core - #77425d, lighter - #905071, darker - #5e3449;
Dark Green: core - #5d7742, lighter - #719050, darker - #495e34;

Light Blue: core - #85c4da, lighter - #c1e1ec, darker - #49a7c8;
Light Purple: core - #da85c4, lighter - #ecc1e1, darker - #c849a7;
Light Green: core - #85da9b, lighter - #c1eccc, darker - #49c86a;

*/

body {
	background-color: #dff0f5;
	font-family: "Open Sans", "Helvetica", sans-serif;
	height: 100%;
	overflow: auto;
}

h1, h2, h3, h4 {
	font-family: "Arvo", "Helvetica", sans-serif;
	text-align: center;
}

h1 {
	margin: 0;
}

header {
	background: #85c4da;
	border-bottom: 10px solid #49a7c8;
	border-left: 5px solid #c1e1ec;
	border-right: 5px solid #c1e1ec;
	border-top: 5px solid #c1e1ec;
	color: #F8F8F8;
	margin-top: 0;
	padding: 10px;
}

a, a:visited {
	color: #85da9b;
	text-decoration: none;
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-ms-transition: color 0.5s;
	-o-transition: color 0.5s;
}

a:hover {
	color: #da85c4;
	text-decoration: none;
}

p {
	margin: 0;
}

/* container and content styling */

.container {
	max-width: 1050px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

.clearfix {
	display: block;
}

.rotate {
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   line-height: 0;
   content: " ";
   clear: both;
   height: 0;
   width: 0;
 }

.wrapper {
	float: right;
	clear: both;
	position: relative;
	width: 70%;
	background-color: #F8F8F8;
	margin-bottom: 10px;
}

#grow {
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
  transition: height .5s;
  overflow: hidden;
}

.content {
	min-height: 350px;
	padding: 0px 10px 10px 10px;
}

.shadow {
-webkit-box-shadow: 0px 0px 5px #CCC;
-moz-box-shadow:    0px 0px 5px #CCC;
box-shadow:         0px 0px 5px #CCC;
}

/* about me section */

.about-me-content {
	padding: 10px;
}

.about-me h2, .about-me h3 {
	text-align: left;
}

.about-me img {
	float: right;
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	width: 250px;
	border: 1px solid #CCC;
}

/* projects section */

.thumbnail {
	display: inline-block;
	margin: 10px;
	height: 250px;
	width: 300px;
	border: solid 1px #CCC;
}

.project {
	position: relative;
	float: left;
	margin: auto;
}

.project-info {
	background-color: black;
	color: white;
	height: 253px;
	width: 302px;
	overflow: hidden;
	position: absolute;
	bottom: 14px;
	left: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
}

.project-info-content {
	padding: 10px;
	text-align: left;
}

.project-info:hover {
	opacity: 0.8;
}

.projects {
	position: relative;
	left: 4%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

p.title {
	text-align: center;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 1.25em;
}

/* navigation */

.logo {
	display: inline-block;
	background-color: #F8F8F8;
	height: 160px;
	width: 160px;
	border: 8px solid #F8F8F8;
	border-radius: 50%;
}

.logo-static {
	border-radius: 50%;
}

.nav-wrapper {
	width: 25%;
	display: inline-block;
}

.nav {
	list-style-type: none;
	text-align: center;
	position: relative;
	right: 40px;
}

.nav li {
	list-style: none;
	margin: 10px;
	color: #F8F8F8;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	min-width: 150px;
	background: #85da9b;
	border-left: 5px solid #c1eccc;
	border-bottom: 5px solid #49c86a;
}

.nav-transition li {
  -moz-transition: background 0.5s, color 0.5s, border 0.5s;
  -webkit-transition: background 0.5s, color 0.5s, border 0.5s;
  -o-transition: background 0.5s, color 0.5s, border 0.5s;
  transition: background 0.5s, color 0.5s, border 0.5s;
}

.nav li:hover, li.active {
	color: #F8F8F8;
	cursor: pointer;
	background: #da85c4;
	border-left: 5px solid #ecc1e1;
	border-bottom: 5px solid #c849a7;
}

@media only screen and (max-width: 1000px) {
	.projects {
		left: 10%;
		max-width: 400px;
	}
}

@media only screen and (max-device-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) {

	.project-info {
		background-color: #F8F8F8;
		color: black;
		opacity: 1;
		position: relative;
		margin-top: 10px;
		height: 100%;
	}

	.project-info:hover {
		opacity: 1;
	}

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 620px) {

	p {
		line-height: 1.5em;
	}

	.container {
		width: 99%;
		margin-top: 10px
	}

	.nav-wrapper {
		margin: 0;
		width: 100%;
	}

	.nav {
		padding: 0;
		margin-top: 10px;
		margin-bottom: 10px;
		position: static;
	}

	.nav li {
		display: inline-block;
		margin: 0;
		min-width: 0;
		width: 31%;
	}

	.logo {
		margin-left: 31%;
	}

	li.rotate {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}

	.projects {
		left: 8%;
		/*line-height: 0.6em;*/
	}

	.project-info {
		height: 257px;
		bottom: 10px;
	}

	.wrapper {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}

	.about-me img {
		width: 150px;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
	
	.projects {
		position: static;
	}

	.project-info {
		height: 100%;
	}

	.logo {
		margin-left: 20%;
	}

	.thumbnail {
		height: 200px;
		width: 250px;
	}

	.project-info {
		width: 250px;
	}
}