<div id="about">
  <div class="box">
       <div class="large">Hey! My name is <h1>Kyle Lucovsky.</h1></div>
       <div class="large vimeo">I'm an iOS and web developer at Gawker Media.</div>
  </div>
  <div class="box butter">
    <div class="large">I have a dog named <h2>Butter.</h2></div>
    <div class="theatre">
      <iframe id="vimeo_player" class="player" src="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="more-butter">I need more <strong>Butter</strong></div>
  </div>
  <div class="color-wrapper">
    <div class="color">
      <div class="large">I love <h2>color.</h2></div>
      <div class="shade-selector">
        <canvas class="shade-canvas">
        </canvas>
        <div class="shade-picker selector">
        </div>
      </div>
      <div class="color-selector">
        <canvas class="color-canvas">
        </canvas>
        <div class="color-picker selector">
        </div>
      </div>
    </div>
    <div class="box inverse">
      <div class="preview">
      </div>
    </div>
  </div>
</div>
