<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Kyle Lucovsky</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
		<script data-main="static/js/main" src="static/js/lib/require.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="nav-wrapper">
				<div class="logo rotate shadow">
					<a href="/">
						<canvas>
						</canvas>
					</a>
				</div>
				<ul class="nav nav-transition">
					<li class="rotate shadow">Me</li>
					<li class="rotate shadow">Projects</li>
					<li class="rotate shadow">Professional</li>
				</ul>
			</div>
			<div class="wrapper shadow">
				<header>
					<h1>Kyle Lucovsky</h1>
				</header>
				<div class="content">
					<div class="first-row">
						<p>I'm a newly trained <span>full stack web developer</span>.
							<br>
							I like filtered <span>food</span> photography, <span>reality television</span> and <span>sweaters</span>.
							<br>
							<strong>I'm available for <a href="http://resume.kylelucovsky.com">hire</a>.</strong></p>
					</div>
						<img src="static/img/me.jpg"/>
					<footer>
						<span><a href="http://github.com/lkvsky">GitHub</a></span> |
						<span><a href="mailto:kyle@lucovsky.com">E-Mail</a></span> |
						<span><a href="http://twitter.com/lkvsky">Twitter</a></span> |
						<span><a href="http://www.linkedin.com/pub/kyle-lucovsky/21/569/757">LinkedIn</a></span>
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>