<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Kyle Lucovsky</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="static/styles/css/main.css">
	</head>
	<body>
		<!-- load up svg elements -->
    	{% include 'templates/svg.html' %}

    	<header class="nav">
    		<ul class="nav-list clearfix">
    			<li class="nav-list-item home-icon">
    				<a data-scroll="js_hero-section" href="javascript:void(0)" class="js_nav-link nav-list-link">
    					<svg>
                            <use xlink:href="#home_icon" />
                        </svg>
                    </a>
    			</li>
    			<li data-scroll="js_personal-section" class="js_nav-link nav-list-item right">
    				<a href="javascript:void(0)" class="nav-list-link">Play</a>
    			</li>
       			<li data-scroll="js_professional-section" class="js_nav-link nav-list-item right">
	    			<a href="javascript:void(0)" class="nav-list-link">Work</a>
	    		</li>
    			<li data-scroll="js_about-section" class="js_nav-link nav-list-item right">
    				<a href="javascript:void(0)" class="nav-list-link">About</a>
    			</li>
    		</ul>
    	</header>

		<section class="section hero js_hero-section">
			<div class="logo">
				<svg class="letter letter-k">
					<use xlink:href="#k_shape" />
				</svg>
				<svg class="period first">
					<use xlink:href="#small_triangle" />
				</svg>
				<svg class="letter letter-w">
					<use xlink:href="#w_shape" />
				</svg>
				<svg class="period second">
					<use xlink:href="#small_triangle" />
				</svg>
				<svg class="letter letter-l">
					<use xlink:href="#l_shape" />
				</svg>
			</div>
			<h2>iOS and Web Developer</h2>
		</section>

		<section class="section about js_about-section">
            <div class="wrapper about-wrapper">
                <div class="clouds">
                    <svg>
                        <use xlink:href="#cloud_3" />
                    </svg>
                    <svg>
                        <use xlink:href="#cloud_1" />
                    </svg>
                    <svg>
                        <use xlink:href="#cloud_2" />
                    </svg>
                    <svg>
                        <use xlink:href="#cloud_5" />
                    </svg>
                    <svg>
                        <use xlink:href="#cloud_4" />
                    </svg>
                </div>
                <div class="hills">
                    <svg>
                        <use xlink:href="#tall_hill" />
                    </svg>
                    <svg>
                        <use xlink:href="#short_hill" />
                    </svg>
                    <p class="about-text">Hello! My name’s Kyle Lucovsky. I’m a software engineer in Brooklyn, NY. I like knitting hats and playing with my pup, Butter. If you like what you see, say “Hey!”</p>
                    <div class="contact">
	                    <a href="mailto:kyle@lucovsky.com">
	                    	<svg>
		        				<use xlink:href="#google_icon" />
		        			</svg>
		        		</a>
		        		<a target="_blank" href="https://github.com/lkvsky">
	            			<svg>
	            				<use xlink:href="#github_icon" />
	            			</svg>
	            		</a>
	            		<a target="_blank" href="https://twitter.com/lkvsky">
	            			<svg>
	            				<use xlink:href="#twitter_icon" />
	            			</svg>
	            		</a>
                    </div>
                </div>
            </div>
		</section>

		<section class="section professional js_professional-section">
            <div class="wrapper professional-wrapper">
                <div class="browser">
                	<div class="browser-action-wrapper">
	                    <div class="browser-actions">
	                        <svg class="icon-browser-action close">
	                            <use xlink:href="#browser_action" />
	                        </svg>
	                        <svg class="icon-browser-action minimize">
	                            <use xlink:href="#browser_action" />
	                        </svg>
	                        <svg class="icon-browser-action maximize">
	                            <use xlink:href="#browser_action" />
	                        </svg>
	                    </div>
		                <div class="browser-tab-wrapper">
		                	<div data-job="hfa" data-address="https://hillaryclinton.com" class="js_browser-tab browser-tab active">
		                		HFA
		                	</div>
		               		<div data-job="gawker" data-address="http://www.kinja.com" class="js_browser-tab browser-tab">
		               			Gawker Media
		               		</div>
		                	<div data-job="vimeo" data-address="https://www.vimeo.com" class="js_browser-tab browser-tab">
		                		Vimeo
		                	</div>
		                	<div data-job="yahoo" data-address="https://www.yahoo.com" class="js_browser-tab browser-tab">
		                		Yahoo!
		                	</div>
		                </div>
	                </div>
                    <div class="browser-address">
                    	<a class="js_browser-address-link browser-address-link" target="_blank" href="https://hillaryclinton.com">https://hillaryclinton.com</a>
                    </div>
                    <div class="browser-window">
                        <div class="jobs">
                        	<div data-job="hfa" class="js_job-info job-info">
                        		<img class="job-icon" src="static/img/logo_hillary.png" srcset="static/img/logo_hillary.png 1x, static/img/logo_hillary@2x.png 2x, static/img/logo_hillary@3x.png 3x" />
                        		<p class="job-info-text">I'm currently at Hillary for America, working on our site's CMS and civic engagement tools to aide the campaign.</p>
                        	</div>
                        	<div data-job="gawker" class="js_job-info job-info collapsed">
                            	<img class="job-icon" src="static/img/logo_gawker.png" srcset="static/img/logo_gawker.png 1x, static/img/logo_gawker@2x.png 2x, static/img/logo_gawker@3x.png 3x" />
                            	<p class="job-info-text">From spring 2014 to fall 2015 I worked as a front-end engineer on Gawker Media's publishing platform, Kinja. I spent a majority of that time refactoring our Backbone codebase and implementing new and consistent architectural patterns with Marionette. Additionally, I spent time working on several native iOS reader prototypes.</p>
                        	</div>
                        	<div data-job="vimeo" class="js_job-info job-info collapsed">
                           		<img class="job-icon" src="static/img/logo_vimeo.png" srcset="static/img/logo_vimeo.png 1x, static/img/logo_vimeo@2x.png 2x, static/img/logo_vimeo@3x.png 3x" />
                           		<p class="job-info-text">From spring 2013 to spring 2014, I worked as an associate application engineer at Vimeo. I built Vimeo’s latest redesign of the <a target="_blank" href="https://vimeo.com/help">help center</a>, integrating support inquiries and an FAQ CMS with Desk.com. I also managed many refactoring projects on the front-end to clean up the JavaScript into reusable, testable modules. Check out some of my CSS/JavaScript contributions that helped win us an <a target="_blank" href="http://www.thefwa.com/site/the-vimeo-player">FWA website of the day award</a>.</p>
                        	</div>
                        	<div data-job="yahoo" class="js_job-info job-info collapsed">
                        		<img class="job-icon" src="static/img/logo_yahoo.png" srcset="static/img/logo_yahoo.png 1x, static/img/logo_yahoo@2x.png 2x, static/img/logo_yahoo@3x.png 3x" />
                        		<p class="job-info-text">After graduating in 2011, I worked at Yahoo! as a product manager on the publishing products platform. I was responsible for the international launches of our then UGC platform, Yahoo! Contributor Network, as well as developing specs for a new suite of internal publishing tools for Yahoo! editors worldwide.</p>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
    	</section>

    	<section class="section personal js_personal-section">
            <div class="wrapper personal-wrapper">
                <svg class="iphone-svg">
                    <use xlink:href="#iphone" />
                </svg>
                <div class="personal-apps">
                    <div class="app-icon js_app-icon" data-info="buttr">
                        <img src="static/img/buttr_icon.png" srcset="static/img/buttr_icon.png 1x, static/img/buttr_icon@2x.png 2x, static/img/buttr_icon@3x.png 3x"/>
                        <h3>Buttr</h3>
                    </div>
                    <div class="app-icon js_app-icon" data-info="500days">
                        <img src="static/img/kristin_icon.png" srcset="static/img/kristin_icon.png 1x, static/img/kristin_icon@2x.png 2x, static/img/kristin_icon@3x.png 3x"/>
                        <h3>500 Days</h3>
                    </div>
                    <div class="app-info collapsed">
                        <a class="js_app-info-close app-info-close" href="javascript:void(0)">
                            <svg>
                                <use xlink:href="#x_icon" />
                            </svg>
                        </a>
                        <p class="hide js_app-info-text" data-info="buttr">
                            Download now in the <a target="_blank" href="https://itunes.apple.com/us/app/id1033885935">App Store</a>! Buttr is an iOS kitchen timer app full of flavor. Buttr was built in Swift and designed by <a target="_blank" href="http://portfolio.kurtyalcin.com/">Kurt Yalcin</a>. Buttr uses some custom written UI controls drawn with Core Graphics, and persists timers using Core Data to keep track of time when the app is in the background. Tap Butter the dog (inspired by <a target="_blank" href="https://instagram.com/p/72nLqKkqAg/?taken-by=lkvsky">the real Butter</a>) for some fun Core Animation!
                        </p>
                        <p class="hide js_app-info-text" data-info="500days">
                            <a target="_blank" href="https://github.com/lkvsky/500-days">500 days</a> is a sample application designed in Sketch and written in Objective-C. The app tracks the progress of the Gawker series <a target="_blank" href="http://gawker.com/tag/500-days-of-kristin">500 Days of Kristin</a>. On load, the app fetches content from Gawker's tag API and then persists article data locally with Core Data. As you scroll through the timeline, you can tap timeline cells to load a webview with the article from that day.
                        </p>
                    </div>
                </div>
            </div>
    	</section>
    	<script type="text/javascript" src="static/js/bundle.js" charset="utf-8"></script>
 	</body>
</html>