<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Kyle Lucovsky</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
		{% if debug %}
		<link rel="stylesheet" type="text/css" href="static/styles/css/main.css">
		<script data-main="static/js/main" src="static/js/lib/require.js"></script>
		{% else %}
		<link rel="stylesheet" type="text/css" href="static/build/main.min.css">
		<script data-main="static/js/optimized-main" src="static/js/lib/require.js"></script>
		{% endif %}
	</head>
	<body>
		<header class="shadow">
			<div class="header-content clearfix">
				<div class="logo rotate shadow">
					<a href="/">
						<canvas id="logo-static">
						</canvas>
					</a>
				</div>
				<ul class="nav nav-transition">
					<li data-content="about" class="active"><a href="#about">Me</a></li>
					<li data-content="work"><a href="#work">My Work</a></li>
				</ul>
			</div>
		</header>
		<canvas id="canvas-background">
		</canvas>
		<div class="container clearfix">
			{% include current_template %}
		</div>
		<footer class="shadow">
			<div class="footer-content">
				<a target="_blank" href="https://vimeo.com/lkvsky/" class="icon">
					<img src="static/img/icons/vimeo.png">
				</a>
				<a target="_blank" href="http://instagram.com/lkvsky/" class="icon">
					<img src="static/img/icons/instagram.png">
				</a>
				<a target="_blank" href="https://twitter.com/lkvsky" class="icon">
					<img src="static/img/icons/twitter.png">
				</a>
				<a target="_blank" href="https://github.com/lkvsky" class="icon">
					<img src="static/img/icons/github.png">
				</a>
			</div>
		</footer>
	</body>
</html>