<div id="work">
  <div class="box">
    <div class="large"><h1>My Career</h1></div>
  </div>
  <div class="timeline">
    <div class="row clearfix">
      <div class="box experience nyu right">
        <h3 class="work_header">New York University</h3>
        <p class="info">
          In 2007, I moved to New York to study political science and studio art. I explored my love of media and enternmainment, working as a content management intern at <a href="http://www.ew.com" target="_blank">Entertainment Weekly</a> and a digital marketing intern at RaspberryRed (now <a href="http://www.dxagency.com" target="_blank">DXagency</a>).
        </p>
      </div>
    </div>

    <div class="row clearfix">
      <div class="box experience yahoo left">
        <h3 class="work_header">Yahoo!</h3>
        <p class="info">
          After graduating in 2011, I went to <a href="http://www.contributer.yahoo.com" target="_blank">Yahoo!</a> to work as a product manager on the publishing products platform. While there I realized my passion for JavaScript and started coding on the side.
        </p>
      </div>
    </div>

    <div class="row clearfix">
      <div class="box experience appacademy right">
        <h3 class="work_header">AppAcademy</h3>
        <p class="info">
          In January 2013, I enrolled in <a href="http://www.appacademy.io" target="_blank">AppAcademy</a>'s 9 week Ruby on Rails course to hone my web development skills. I stayed on for the next cohort to work as a TA and help spread the coding love.
        </p>
      </div>
    </div>

    <div class="row clearfix">
      <div class="box experience vimeo left">
        <h3 class="work_header">Vimeo</h3>
        <p class="info">
          From spring 2013 to spring 2014, I worked as an associate application engineer at <a href="https://www.vimeo.com" target="_blank">Vimeo</a>, focusing on the front end of our web application. I dabbled in PHP, got serious with our JavaScript and seized every opportunity to make stuff fly across the screen.
        </p>
      </div>
    </div>

    <div class="row clearfix">
      <div class="box experience gawker right">
        <h3 class="work_header">Gawker Media</h3>
        <p class="info">
          Now I'm at <a href="http://www.gawker.com" target="_blank">Gawker Media</a>, working on the front-end of our publishing platform, <a href="http://www.kinja.com" target="_blank">Kinja</a> while also working on iOS prototypes for future content discovery/discussion apps.
        </p>
      </div>
    </div>
  </div>
</div>
