<div id="work">
  <div class="box">
    <div class="large"><h1>My Career</h1></div>
  </div>
  <div class="timeline">
    <div class="row clearfix">
      <div class="box experience nyu school">
        <h3 class="work_header">New York University</h3>
        <p class="info">
          In 2007, I moved to NY to study political science and studio art. I explored my love of media and enternmainment, working as a content management intern at <a href="http://www.ew.com" target="_blank">Entertainment Weekly</a> and a digital marketing intern at RaspberryRed (now <a href="http://www.dxagency.com" target="_blank">DXagency</a>).
        </p>
      </div>
    </div>

    <div class="row clearfix">
      <div class="box experience yahoo work">
        <h3 class="work_header">Yahoo!</h3>
        <p class="info">
          After graduating in 2011, I went to <a href="http://www.contributer.yahoo.com" target="_blank">Yahoo!</a> to work as a product manager on the publishing products platform. While there I realized my passion for JavaScript and started coding on the side.
        </p>
      </div>
    </div>

    <div class="row clearfix">
      <div class="box experience appacademy school">
        <h3 class="work_header">AppAcademy</h3>
        <p class="info">
          In January 2013, I enrolled in <a href="http://www.appacademy.io" target="_blank">AppAcademy</a>'s 9 week Ruby on Rails course to hone my web development skills. I stayed on for the next cohort to work as a TA and help spread the coding love.
        </p>
      </div>
    </div>

    <div class="row clearfix">
      <div class="box experience vimeo work">
        <h3 class="work_header">Vimeo</h3>
        <p class="info">
          Since June 2013, I've been working as an associate application engineer at <a href="https://www.vimeo.com" target="_blank">Vimeo</a>, focused on the front end of our web application. I dabble in PHP and get serious with our JavaScript.
        </p>
      </div>
    </div>
  </div>
</div>
