<div id="about-me">
  <img src="static/img/me.jpg">
  <div class="about-me-content">
    <h2>Post-Epoch Code Machine</h2>
    <p>I'm a junior full stack web developer with an affinity for single page, responsive, JavaScript-driven applications.</p>
    <p>I'm currently a web developer at <a href="http://vimeo.com" target="_blank">Vimeo</a>.</p>
    <h3>Get In Touch</h3>
    <p>Check out my code on <a href="http://www.github.com/lkvsky" target="_blank">GitHub</a>.</p>
    <p>Connect with me on <a href="http://www.linkedin.com/pub/kyle-lucovsky/21/569/757/" target="_blank">LinkedIn</a>.</p>
    <p>Tour around my <a href="http://resume.kylelucovsky.com" target="_blank">resume</a>.</p>
  </div>
</div>