<div class="professional clearfix">
  <div class="job">
    <div class="company">
      Yahoo!, Inc.
    </div>
    <div class="job-info">
      <div class="job-header">
        <strong>Product Manager</strong>
        <br>
        <em>August 2011 - December 2012</em>
      </div>
      <p>I drafted product specifications for and helped coordinate the build of a brand new set of publishing tools for Yahoo! editors worldwide. My focus was on search: improving and optimizing how editors found content to make informed programming decisions.</p>
      <p>Additionally, I managed the product support and iteration of the company’s user-generated content platform, <a href="http://contributor.yahoo.com" target="_blank">Yahoo! Contributor Network</a>, and its applications in <a href="http://br.contribuidores.yahoo.com" target="_blank">Brazil</a> and the <a href="http://uk.contributor.yahoo.com" target="_blank">UK</a>. I helped oversee the Beta launches of both international versions.</p>
    </div>
  </div>
  <div class="job">
    <div class="company">
      Ruby Kobo
    </div>
    <div class="job-info">
      <div class="job-header">
        <strong>Sales Assistant/Intern</strong>
        <br>
        <em>September 2010 - March 2011</em>
      </div>
      <p>My internship focused on assisting sales operations for Ruby Kobo’s costume jewelry line, <a href="http://www.shopshashi.com" target="_blank">Shashi</a>. I spent most of my time contacting new stores to increase Shashi sales in our target cities, drafting invoices with Adobe Quickbooks and updating the website with press and collection information.</p>
    </div>
  </div>
  <div class="job">
    <div class="company">
      Raspberry Red
    </div>
    <div class="job-info">
      <div class="job-header">
        <strong>Digital Marketing Intern</strong>
        <br>
        <em>May 2010 - Augusut 2010</em>
      </div>
      <p>I spent my time researching and composing a detailed site audit for one of RaspberryRed’s clients, recommending Search Engine Optimization techniques, site usability, and social media strategies. I used tools like <a href="http://adwords.google.com" target="_blank">Google AdWords</a>, <a href="http://webmasters.google.com" target="_blank">Google Webmasters</a> and <a href="http://analytics.google.com" target="_blank">Google Analytics</a> to detect sitemap issues and suggest keyword targeting.</p> 
      <p>To support another client, I wrote daily medical-related blog entries for <a href="http://www.vitals.com" target="_blank">Vitals.com</a>, applying our SEM and SEO techniques.</p>
    </div>
  </div>
  <div class="job">
    <div class="company">
      Time, Inc.
    </div>
    <div class="job-info">
      <div class="job-header">
        <strong>Content Management Intern</strong>
        <br>
        <em>November 2008 - August 2009</em>
      </div>
      <p>My daily responsibilities involved HTML and SEO markup of current weekly articles and reviews, additionally adding and marking up older <em>Entertainment Weekly</em> issues for <a href="http://ew.com" target="_blank">EW.com</a>. Other regular duties included launching and managing EW's <a href="http://www.facebook.com/entertainmentweekly" target="_blank">Facebook</a> page and writing copy for the weekly EW.com newsletter.</p>
      <p>Outside of my standard scope of duties, I tracked down archived Michael Jackson coverage to aid our breaking news hub for the deceased artist. I also published two blog entries to the website’s award-winning PopWatch blog and an evergreen <a href="http://www.ew.com/ew/gallery/0,,20312226_20400366,00.html" target="_blank">photo gallery</a> documenting Lindsay Lohan’s career highs and lows.</p>
    </div>
  </div>
</div>