<div class="projects clearfix">
  <div class="project">
    <img class="thumbnail" src="static/img/mycoachella-home.png">
    <div class="project-info">
      <div class="project-info-content">
        <h2><a href="http://mycoachella.herokuapp.com" target="_blank">My Coachella</a></h2>
        <p>My Coachella is a mobile-friendly single page web Rails app built around the YouTube JavaScript/iframe API. Templating is all done on the client-side via Handlebars. The app allows users to generate random playlists that the user can edit as he or she pleases. Tour the code on <a href="https://github.com/lkvsky/coachella" target="_blank">GitHub</a>.</p>
      </div>
    </div>
  </div>
  <div class="project">
    <img class="thumbnail" src="static/img/instavention.png">
    <div class="project-info">
      <div class="project-info-content">
        <h2><a href="http://instavention.herokuapp.com" target="_blank">Instavention</a></h2>
        <p>Instavention is my first live Backbone app and first experience using Rails as a Backbone back-end. It's a photo guessing game using the Instagram API. Users can authenticate with their Instagram account or log in as a guest for a quick play experience with the most popular photos on Instagram. Tour the code on <a href="https://github.com/lkvsky/instavention" target="_blank">GitHub</a>.</p>
      </div>
    </div>
  </div>
  <div class="project">
    <img class="thumbnail" src="static/img/hbd-party.png">
    <div class="project-info">
      <div class="project-info-content">
        <h2><a href="http://hbd-party.herokuapp.com" target="_blank">HBD Party</a></h2>
        <p>This was an experiment I did with Canvas and Sinatra. Consider it a "hello world," or a flashy way to say "Happy Birthday." Check out the code on <a href="https://github.com/lkvsky/hbd" target="_blank">GitHub</a></p>
      </div>
    </div>
  </div>
  <div class="project">
    <img class="thumbnail" src="static/img/best-coast.png">
    <div class="project-info">
      <div class="project-info-content">
        <h2><a href="http://bestcoasteats.appspot.com" target="_blank">Best Coast Eats</a></h2>
        <p>This was my first live app, written in the fall of 2012. I took data from a USDA Farmer's Market API and plot it on a Google Map, making geo-located Flickr API calls in the info windows. The farmer's market info is cached in local storage for quicker repeat visits.</p>
      </div>
    </div>
  </div>
</div>