$blue: rgba(133, 196, 218, 0.7);
$blue_dark: #49a7c8;
$blue_light: #c1e1ec;

$pink: rgba(218, 133, 196, 0.7);
$pink_dark: #c849a7;
$pink_light: #ecc1e1;

$green: rgba(133, 218, 155, 0.7);
$green_dark: #49c86a;
$green_light: #c1eccc;

$body_background: #dff0f5;
$white_text: #f8f8f8;

@mixin transition($property: all, $duration: 0.3s) {
  -moz-transition: $property $duration;
  -webkit-transition: $property $duration;
  -o-transition: $property $duration;
  -ms-transition: $property $duration;
  transition: $property $duration;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -o-transform: $value;
  -ms-transform: $value;
  transform: $value;
}

@mixin box_shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  -ms-box-shadow: $value;
  box-shadow: $value;
}

@mixin box_sizing($value: border-box) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  -ms-box-sizing: $value;
  box-sizing: $value;
}

body {
  background-color: $body_background;
  font-family: "Open Sans", "Helvetica", sans-serif;
  height: 100%;
  overflow: auto;
  margin: 0;
  width: 100%;
  @include transition(all);
}

h1, h2, h3, h4 {
  font-family: "Arvo", "Helvetica", sans-serif;
  margin: 0 10px 0 10px;
  display: inline-block;
}

.intro {
  font-size: 2em;
  text-align: center;
}

header {
  @include box_sizing;
  background: $blue;
  height: 100px;
  overflow: visible;
  color: #F8F8F8;
  margin: 0 0 100px 0;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none outside none;
}

a {
  color: $green;
  text-decoration: none;
  @include transition(color);

  &:visited {
    color: $green;
  }

  &:hover {
    color: $pink;
    text-decoration: none;
  }
}

p {
  margin: 0;

  &.title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.25em;
  }
}

/* container and content styling */

#canvas-background {
  position: fixed;
  top: 0;
  z-index: -1;
}

.clearfix {
  display: block;
}

.rotate {
  @include transform(rotate(-20deg));
}

.container {
  margin: 0 auto 0 auto;
  max-width: 940px;
  position: relative;
  margin-bottom: 10px;
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   line-height: 0;
   content: " ";
   clear: both;
   height: 0;
   width: 0;
 }

.box {
  display: table;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #FFFFFF;
  margin: 0 auto 50px auto;
  overflow: hidden;

  &.inverse {
    @include box_sizing;
    background-color: transparent;
    padding: 0;
    width: 100%;
  }
}

.shadow {
  @include box_shadow(0px 0px 5px #CCC);
}

/* about me section */

.vimeo_logo {
  height: 100px;
  position: relative;
  top: 30px;
}

.butter {
  @include box_sizing;
  width: 100%;
}

.theatre {
  margin-top: 30px;
  position: relative;
  padding-bottom: 53%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.player {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.more-butter {
  @include transition(background-color);
  display: table;
  cursor: pointer;
  font-family: "Arvo", "Helvetica", sans-serif;
  background-color: rgba(133, 218, 155, 0.3);
  border: 1px solid $green_light;
  margin: 20px auto 0 auto;
  padding: 10px;

  &:hover {
    background-color: rgba(133, 218, 155, 0.5);
  }
}

.color {
  .intro {
    width: 240px;
    margin-bottom: 30px;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -120px;
  }
}

.color-wrapper {
  position: relative
}

.preview {
  @include box-sizing;
  min-height: 600px;
  width: 100%;
  border-top: 100px solid rgba(255, 255, 255, 0.7);
  border-left: 20px solid rgba(255, 255, 255, 0.7);
  border-right: 20px solid rgba(255, 255, 255, 0.7);
  border-bottom: 150px solid rgba(255, 255, 255, 0.7);
}

.selector {
  @include box_sizing;
  height: 50px;
  width: 15px;
  border: 5px solid rgba(255, 255, 255, 0.7);
  position: relative;
  top: -55px;
}

.color-selector, .shade-selector {
  @include box-sizing;
  margin: 0 auto 15px auto;
  border: 2px solid #FFFFFF;
  height: 50px;
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
}

.color-selector {
  top: 470px;

  .selector {
    left: 67%;
  }
}

.shade-selector {
  top: 530px;

  .selector {
    left: 33%;
  }
}

/* work */

/* navigation */

.header-content {
  @include box_sizing;
  max-width: 940px;
  height: 100%;
  margin: 0 auto 0 auto;
}

.logo {
  display: inline-block;
  background-color: $white_text;
  margin-top: 5px;
  height: 160px;
  width: 160px;
  border: 8px solid $white_text;
  border-radius: 50%;
}

#logo-static {
  border-radius: 50%;
}

.nav-transition li {
  @include transition(all);
}

.nav {
  display: inline-block;
  float: right;
  list-style-type: none;
  text-align: center;
  height: 100%;

  li {
    @include box_sizing;
    padding-top: 40px;
    text-align: center;
    display: inline-block;
    list-style: none;
    font-weight: bold;
    width: 100px;
    height: 100%;
    background: $green;

    &:last-child {
      margin-left: -4px;
    }

    a, a:hover, a:visited {
      display: inline-block;
      color: $white_text;
      margin: 0;
      height: 100%;
      width: 100%;
    }

    &:hover, &.active {
      color: $white_text;
      cursor: pointer;
      background: $pink;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 500px), (max-width: 500px) {

  header {
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 1;
  }

  .container {
    margin-top: 85px;
  }

  .box {
    @include box-sizing;
    display: block;
    width: 100%;
  }

  .intro {
    font-size: 1.5em;
  }

  #work {
    font-size: 1em;
  }

  .nav {
    @include box_sizing;
    width: 100%;
    margin: 0;
    float: right;
    height: 100%;

    li {
      @include box_sizing;
      display: inline-block;
      margin: 0;
      width: 45%;
      padding-top: 20px;
    }
  }

  .logo {
    display: none;
  }
}